body {
    text-align: center;
}
#h1TAG {
    font-size: 36px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #button1 {
      text-align: left;
  }
  #ptag2 {
      font-size: 35px;
  }
  #h1tag12345 {
      font-size: 23px;
  }